.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    width: 50%;
  }
  
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .inputBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .submit-btn {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0072BC;
  }
  