<div class="container">
<div class="reward-page text-center">
    <h1>Rewards</h1>
    <div class="row">
    <!--first row  -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/1.png" alt="Item 1" height="100" width="100">
          <div class="name">Item 1</div>
          <div class="cost">50 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/2.png" alt="Item 2" height="100" width="100">
          <div class="name">Item 2</div>
          <div class="cost">100 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/3.png" alt="Item 3" height="100" width="100">
          <div class="name">Item 3</div>
          <div class="cost">200 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/4.png" alt="Item 4" height="100" width="100">
          <div class="name">Item 4</div>
          <div class="cost">300 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
    </div>
    <!-- first row end -->
    <br>
    <!-- second row start -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/4.png" alt="Item 5" height="100" width="100">
          <div class="name">Item 5</div>
          <div class="cost">400 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/5.png" alt="Item 6" height="100" width="100">
          <div class="name">Item 6</div>
          <div class="cost">500 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/6.png" alt="Item 7" height="100" width="100">
          <div class="name">Item 7</div>
          <div class="cost">600 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="reward-item">
          <img src="assets/img/rewards/7.png" alt="Item 8" height="100" width="100">
          <div class="name">Item 8</div>
          <div class="cost">700 gems</div>
          <button class="redeem btn btn-primary">Redeem</button>
        </div>
      </div>
      <!-- second row end -->
    </div>
  </div>
</div>
  