<header>
  <div *ngIf="showSmartBar" class="smart-bar" id="smartBar">
    <div class="smart-bar" id="smartBar">
      <div class="smart-bar__content">
        <div class="smart-bar__basic-content" data-testid="basic-with-timer">
          <a data-testid="smart-bar-action-url" routerLink="home/pricing">
            <span data-testid="smart-bar-copy">
              <span class="smart-bar__title" data-purpose="smart-bar-title" data-testid="smart-bar-title">Skill up at
                scale |</span>
              <span class="smart-bar__subtitle" data-purpose="smart-bar-subtitle" data-testid="smart-bar-subtitle">
                Learn why CodeTutor is trusted by 3K+ students</span>
            </span>
          </a>
          <button class="close-button" aria-label="Close" (click)="closeSmartBar()">✕</button>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/uplogo.png" alt="Logo" width="150" height="60" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" role="button">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/pricing">Pricing</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home/payment">Payment</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home/payment">Lazzy Payment</a>
        </li> -->

        <!-- <ng-container *ngIf="loggedin()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile Page</a>
          </li>
        </ng-container> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
            <li>
              <a class="dropdown-item" routerLink="/home/about">About US</a>
            </li>
            <li><a class="dropdown-item" routerLink="/home/blog">Blog</a></li>
            <li><a class="dropdown-item" routerLink="/home/faqs">FAQs</a></li>
            <!-- <li><a class="dropdown-item" routerLink="/rewards">Rewards</a></li> -->
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="featuresDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            > <s>Features</s></a
          >
          <ul class="dropdown-menu" aria-labelledby="featuresDropdown">
            <li><a class="dropdown-item" href="#">How it Works</a></li>
            <li><a class="dropdown-item" href="#">Developer Roadmap</a></li>
            <li><a class="dropdown-item" href="#">Developer Portfolio</a></li>
            <li><a class="dropdown-item" href="#">RefactorPro</a></li>
            <li><a class="dropdown-item" href="#">Customized Lessons</a></li>
            <li><a class="dropdown-item" href="#">Graded Project</a></li>
          </ul>
        </li> -->

        <!-- <li>
          <button type="button" class="btn btn-primary" routerLink="/login" *ngIf="!loggedin()"> Log in </button> &nbsp;
          <button type="button" class="btn btn-secondary" routerLink="/signup" *ngIf="!loggedin()"> Sign up </button>

        <li class="nav-link dropdown" *ngIf="loggedin()">
          <a class="nav-link dropdown-toggle dropd" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span *ngIf="loggedin()" class="user-greeting">
              <i class="fa-regular fa-user"></i> Hello, {{ f_name }} {{ l_name }}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="loggedin()">
              <a class="dropdown-item d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-danger" (click)="loggingOut()">
                  <i class="fas fa-sign-out-alt"></i> LogOut </button>
              </a>
            </li>
          </ul>
        </li> -->

        <ng-container *ngIf="!loggedin()">
          <button type="button" class="btn btn-primary" routerLink="/login">Log in</button>&nbsp;
          <button type="button" class="btn btn-secondary" routerLink="/signup">Sign up</button>&nbsp;
        </ng-container>

        <ng-container *ngIf="loggedin()">
          <div class="dropdown">
            <button class="dropdown-toggle transparent-button" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/img/navprofile.png" alt="" />
            </button>

            <ul class="dropdown-menu profile">
              <li>
                <a class="dropdown-item" routerLink="/profile"><i class="fa-solid fa-user"></i> My Profile</a>
              </li>
              <!-- <hr>
              <li>
                <a class="dropdown-item" routerLink="/home"><i class="fa-solid fa-book"></i>  My Learning</a>
              </li> -->
              <hr>
              <li>
                <a class="dropdown-item" (click)="loggingOut()"><i class="fa-solid fa-right-from-bracket"></i>
                  Logout</a>
              </li>
            </ul>
          </div>
        </ng-container>


        <!-- add to cart in navbar -->
        <!-- <li class="cart">
          <i class="fa fa-shopping-cart fa-xl"></i>
          <span>{{ itemCount }}</span>
        </li> -->


        <!-- <button type="button" class="btn btn-primary position-relative">
          <i class="fa-solid fa-cart-shopping"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99 <span class="visually-hidden">unread messages</span></span>
        </button> -->

        <!-- <button type="button" class="btn position-relative" style="background-color: white;" routerLink="/home/cart">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ itemCount }}<span class="visually-hidden">unread messages</span></span>
        </button> -->

        <!-- <button type="button" class="btn position-relative" style="background-color: white;" routerLink="/home/cart">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartItemCount }}<span class="visually-hidden">items in cart</span>
          </span>
        </button> -->

        <button type="button" class="btn position-relative" style="background-color: white;" routerLink="/home/cart">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartItemCount }}<span class="visually-hidden">items in cart</span>
          </span>
        </button>
        





      </ul>
    </div>
  </div>
  <!-- cart selector -->
  <!-- <app-cart [itemCount]="cartItemCount"></app-cart> -->
</nav>

<router-outlet></router-outlet>