<!-- <p>signup works!</p> -->

<div class="container">
  <div class="signup-container">
    <div class="signup-left">
      <!-- Add your left-side image here -->
      <img src="assets/img/signup s2.jpg" alt="Left side image" />
    </div>
    <div class="signup-right">
      <h2>Create an Account</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <!-- right now i can't use this here -->
        <!-- fullname -->
        <!-- <label for="fullname">Full Name</label>
        <input type="text" id="fullname" formControlName="fullname" placeholder="Enter your full name"/>
        <div *ngIf="signupForm.get('fullname')?.touched && signupForm.get('fullname')?.hasError('required')">
            <p style="color: #FE0000;">* Required</p>
        </div> -->


        <!-- first name -->
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" formControlName="first_name" placeholder="Enter your first name"/>
        <div *ngIf="signupForm.get('first_name')?.touched && signupForm.get('first_name')?.hasError('required')">
            <p style="color: #FE0000;">* Required</p>
        </div>
        <div *ngIf=" signupForm.get('first_name')?.touched && signupForm.get('first_name')?.hasError('pattern')" class="text-danger">
          First name must start with a capital letter and contain only alphabets
        </div>
        <div *ngIf=" signupForm.get('first_name')?.touched && signupForm.get('first_name')?.hasError('minlength')" class="text-danger">
          First name must have a minimum length of 3
        </div>

        <!-- last name -->
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" formControlName="last_name" placeholder="Enter your last name"/>
        <div *ngIf="signupForm.get('last_name')?.touched && signupForm.get('last_name')?.hasError('required')">
            <p style="color: #FE0000;">* Required</p>
        </div>

        <div *ngIf="signupForm.get('last_name')?.touched && signupForm.get('last_name')?.hasError('minlength')"class="text-danger">
          Last name must have a minimum length of 2
        </div>
        <div *ngIf="signupForm.get('last_name')?.touched && signupForm.get('last_name')?.hasError('maxlength')"class="text-danger">
          Last name must have a maximum length of 20
        </div>

        <!-- right now i can't use this here -->
        <!-- gender -->
        <!-- <label for="gender">Gender:</label>
        <select formControlName="gender" id="gender" class="form-control">
          <option value="" disabled selected>Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <div *ngIf="signupForm.get('gender')?.touched && signupForm.get('gender')?.hasError('required')">
          <p style="color: #FE0000;">* Required</p>
        </div>
        <br/> -->

        <!-- email -->
        <label for="email">Email Address</label>
        <input type="email" id="email" formControlName="email" autocomplete="email" placeholder="example@gmail.com"/>
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('required')">
            <p style="color: #FE0000;">* Required</p>
        </div>
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('pattern')"class="text-danger">
            Invalid email format*(abc@gmail.com)
        </div>
        
        <!-- password -->
        <div class="form-group">
        <label for="password">Password</label>
        <!-- <input type="password" id="password" formControlName="password" autocomplete="password"/> -->
        <div style="position: relative;">
          <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control w-100" formControlName="password" autocomplete="password" placeholder="Create password"/>
          <button class="mainHide btn bg-transparent" type="button" (click)="togglePasswordVisibility()" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
            <!-- {{ passwordVisible ? 'Hide' : 'Show' }} -->
            <span [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></span>
          </button>
        </div>
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.hasError('required')">
            <p style="color: #FE0000;">* Required</p>
        </div>

        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.hasError('pattern')"class="text-danger">
            Password must contain at least one letter (capital or small), number, and special characters (#, @, *, or &)
        </div>
      </div>

        <label for="remember">
          <input type="checkbox" id="remember" formControlName="remember" /> Remember Me
        </label>

        <button type="submit" class="signup-button" [disabled]="!signupForm.valid">Signup</button>

        <p class="privacy-terms">
          <input type="checkbox" id="privacy" formControlName="privacy" />
          I agree to the <b>Privacy Policy</b> and
          <b>Terms &amp; Conditions.</b>
        </p>

      </form>
      <div class="mt-4"> Already registered?
        <a activeclassname="active" class="underline text-blue-500" routerLink="/login">Sign In</a>
      </div>
    </div>
  </div>
</div>
