<div class="container mt-5">
  <h1 class="text-center"><b>Blog</b></h1><br>

  <div class="row">
    <!-- Left Side: Categories, Recent Posts, Keyword Search -->
    <div class="col-md-4">

      <!-- Categories -->
      <!-- <div class="mb-4">
        <h3><b>Categories</b></h3>
        <ul class="list-group">
          <li *ngFor="let category of categories" class="list-group-item">{{ category }}</li>
        </ul>
      </div> -->

      <!-- Recent Posts -->
      <div class="mb-4">
        <h3><b>Recent Posts</b></h3>
        <ul class="list-group">
          <li *ngFor="let post of blogPosts" class="list-group-item">
            <h5>{{ post.title }}</h5>
            <p>{{ post.content | slice:0:50 }}{{ post.content.length > 50 ? '...' : '' }}</p>
          </li>
        </ul>
      </div>


      <!-- Keyword Search -->
      <div class="mb-4">
        <h3><b>Keyword Search</b></h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter keywords..." [(ngModel)]="keyword" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="handleKeywordSearch()">Search</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side: Images and Blog Cards -->
    <div class="col-md-8">
      <div class="row d-flex flex-wrap align-items-stretch">
        <div class="col-md-4 mb-4" *ngFor="let post of blogPosts">
          <div class="card blog-card" style="height: 100%;">
            <!-- <img style="align-items: center;" src="assets/img/blogimg/blogoi.png"> -->
            <img style="align-items: center;" [src]="post.image">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5><span class="badge rounded-pill text-bg-secondary">{{ post.date }}</span>
              <p class="card-text">{{ post.content }}</p>
              <a routerLink="/home/blog/blogSingle" class="btn btn-primary" [queryParams]="{ date: post.date }">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <!-- Angular Loader -->
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>