<div class="container mt-5">
  <h1 class="text-center"><b>Blog</b></h1><br>

  <div class="row">
    <!-- Left Side: Categories, Recent Posts, Keyword Search, and Tag Cloud -->
    <div class="col-md-4">
      <!-- Categories -->
      <div class="mb-4">
        <h3><b>Categories</b></h3>
        <ul class="list-group">
          <li *ngFor="let category of categories" class="list-group-item">{{ category }}</li>
        </ul>
      </div>

      <!-- Recent Posts -->
      <div class="mb-4">
        <h3><b>Recent Posts</b></h3>
        <ul class="list-group">
          <li *ngFor="let post of recentPosts" class="list-group-item">{{ post }}</li>
        </ul>
      </div>

      <!-- Keyword Search -->
      <div class="mb-4">
        <h3><b>Keyword Search</b></h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter keywords..." [(ngModel)]="keyword" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="handleKeywordSearch()">Search</button>
          </div>
        </div>
      </div>

      <!-- Tag Cloud (Sample data, replace with actual data if available) -->
      <div>
        <h3><b>Tag Cloud</b></h3>
        <div class="tag-cloud">
          <span class="tag">Tag 1</span>
          <span class="tag">Tag 2</span>
          <span class="tag">Tag 3</span>
          <!-- Add more tags as needed -->
        </div>
      </div>
    </div>

    <!-- Right Side: Images and Blog Cards -->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card blog-card">
            <img style="align-items: center;" src="assets/img/blogimg/blogoi.png">
            <div class="card-body">
              <h5 class="card-title">How CodeTutor can transform your coding skills</h5>
              <p class="card-text">Learning to code can seem daunting, but with the right guidance it can be an achievable and rewarding journey. That's where CodeTutor comes in. CodeTutor is an online learning platform designed to take beginning coders from no knowledge to job-ready in just months. </p>
              <a routerLink="/blogSingle"  class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card blog-card">
            <img style="align-items: center;" src="assets/img/blogimg/blogoi2.png">
            <div class="card-body">
              <h5 class="card-title">Praesent tempus quam vitae urna posuere fringilla. Sed tincidunt, velit id aliquet varius.</h5>
              <p class="card-text">Learning to code can seem daunting, but with the right guidance it can be an achievable and rewarding journey. That's where CodeTutor comes in. CodeTutor is an online learning platform designed to take beginning coders from no knowledge to job-ready in just months. </p>
              <a routerLink="/blogSingle"  class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card blog-card">
            <img style="align-items: center;" src="assets/img/blogimg/blogoi.png">
            <div class="card-body">
              <h5 class="card-title">Nulla feugiat mauris vel magna scelerisque, quis eleifend ex fringilla.</h5>
              <p class="card-text">Learning to code can seem daunting, but with the right guidance it can be an achievable and rewarding journey. That's where CodeTutor comes in. CodeTutor is an online learning platform designed to take beginning coders from no knowledge to job-ready in just months. </p>
              <a routerLink="/blogSingle"  class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Angular Loader -->
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- **else then router outlet use -->
  </div>
</div>

<!-- here make 2 ngif and loader use -->
  

<router-outlet></router-outlet>
