/* banner */
.banner-container {
    position: relative;
}

.overlay-image {
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    width: auto;
}
.custom-h1 {
  font-size: 5rem; 
  margin-bottom: 10px;
}
.custom-p {
  font-size: 1.5rem; 
  /* line-height: 1.5; */
}

@media (max-width: 768px) {
  .custom-h1 {
    font-size: 2rem;
  }
  .custom-p {  
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .custom-h1 {
    font-size: 2rem;
  }
  .custom-p {  
    font-size: 1rem;
  }
}
@media (max-width: 370px) {
  .custom-h1 {
    display: none;
  }
  .custom-p {  
    display: none;
  }
}

.custom-button {
  background-color: #007BFF;
    color: white;
    padding: 15px 40px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .custom-button {
    padding: 10px 20px;
    font-size: 14px; 
  }
}
@media (max-width: 576px) {
  .custom-button {
    padding: 10px 20px;
    font-size: 14px; 
  }
}
@media (max-width: 370px) {
  .custom-button {
    display: none;
  }
}



/* .firstcard{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
.firstcard:hover{
  border-color: #28a745;
  transform: scale(1.05);
} */


.firstcard {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.firstcard img {
  max-width: 100%;
}

.firstcard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 167, 69, 0);
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

.firstcard:hover::before {
  background-color: rgba(40, 167, 69, 0.2);
}

.firstcard:hover {
  border-color: #28a745;
  transform: scale(1.05);
}




/* error start */
/* filter1 */
/* .content-card {
    flex: 2;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.content-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-card p {
    font-size: 16px;
}*/
/* .card-img-top {
  width: 200px;
  height: auto;
}  */
/* .small-card {
  max-width: 200px;
  margin: 0 auto;
} */
/* error  ending */


/* option spaceing */
.options-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .options-column .btn {
    margin-bottom: 10px;
  }


.offcanvas {
    width: 300px;
}




.category-image {
  max-height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}




  /* Additional custom CSS for styling */
  .testimonial-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }

  .testimonial-card img {
    width: 17.78px;
    height: 16px;
    margin-right: 5px;
  }


  .user-initials {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.5rem;
    color: #ffffff;
  }


  .newd{
    border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  }

  .newd:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

/* above contact us */
/* .small-img {
  max-width: 50%;
  height: auto;
} */



  .cato{
    transition: transform 0.3s ease;
  }
  .cato:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-cat{
    color: #2DA1D6;
  }

  .small-img {
    max-width: 100px; /* Adjust this value to control the image size */
    display: block; /* This ensures each image is on its own line */
    margin: 0 auto; /* Centers the images within their columns */
  }


  /* rating */
  .card-custom{
    background-color: #6351CE;
    color: white;
    height: 200px;
  }


  /* contact us */
.con{
  padding: 50px 0;
  background-color: #f9f9f9;
}

.ct {
  color: #333;
}

.cto {
  color: #555;
}

.ctoo {
  color: #777;
}

.cfo {
  max-width: 1200px;
}

.cli {
  margin-top: 10px;
}
/* end contact us */

  
  